.movieCard{
    list-style: none;
    text-align: center;
    gap: 40px;
}
.movieCard:hover{
    list-style: none;
    text-align: center;
    transform: rotate(10deg);
    transition: 0.8s;
}

.movieImage{
    border-radius: 10px;
    background-color: white;
    gap: 40px;
}

@media (max-width: 560px){
    .movieImage{
        width: 90%;
        height: auto;
    }
}